*{
    margin: 0px;
    padding: 0px;
}
body{
     margin-top: 180px;
     background-color: lightgrey;
     /* background-image: linear-gradient(yellow,orange,lightgreen,lightblue,yellow); */
}
#val{
      height: 60px;
      width: 500px;
      font-size: xx-large;
      background-color: blue;
      color: aqua;
      border-radius: 5px;
      /* margin-left: 35%;   */
}
#submit{
       background-color: lightsteelblue;
       border-radius: 5px;
       height:50px;
       width: 300px;
       font-size:xx-large;
       color:blueviolet;
}
#number,#small,#capital,#symbols{
      font-size:x-large;
}
#comm{
       color: red;
       font-size: xx-large;
       background-color: black;
}
#Conditions{
      font-size:xx-large;
}
@media only screen and (max-width: 1140px){
    #val{
        width: 45%;
        height: auto;
    }
    #submit{
        width: fit-content;
        height: auto;
    }
    #number,#small,#capital,#symbols{
        font-size:x-large;
    }
    b{
        font-size:larger;
    }
    #comm{
        width: fit-content;
    }
}        